* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to right, rgb(218, 167, 129), rgb(97, 67, 204));
}
header {
  width: 100%;
  background-color: rgba(240, 248, 255, 0.102);
  position: relative;
}
header .cart_container {
  position: absolute;
  right: 20px;
  top: 20px;
}
header .cart_container button {
  font-size: 30px;
}
header .cart_container .item_info {
  position: absolute;
  top: 0px;
  right: -5px;
  background-color: rgba(255, 255, 255, 0.732);
  font-weight: 500;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
}
header .container {
  position: relative;
}
header .back {
  position: absolute;
  right: 20px;
  top: 30px;
}
header button {
  font-size: 50px;
  border-width: 0;
  background-color: transparent;
  color: white;
  opacity: 0.8;
}
button:hover i {
  color: rgb(129, 218, 129);
}
button:focus {
  outline: 0;
}
.col-3 .column_container {
  opacity: 0.8;
  background-color: white;
  border-radius: 15px;
  text-align: left;
  box-shadow: 4px 12px 41px -9px rgba(0, 0, 0, 0.64);
  position: relative;
  transition: all 0.3s;
}
.col-3 .column_container:hover {
  transform: translateY(-15px);
}
.col-3 .column_container img {
  max-width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  transition: all 0.5s;
}
.col-3 .column_container img:hover {
  transform: scale(105%);
}
.col-3 .column_container button {
  background-image: linear-gradient(
    to left,
    rgb(218, 167, 129),
    rgb(97, 67, 204)
  );
  background-size: 200%;
  border-radius: 5px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: white;
  font-weight: 500;
  font-size: 20px;
  transition: all 0.3s;
}
.col-3 .column_container button:hover {
  background-position: right center;
  color: blue;
}
.cart {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  background-color: #343a40;
  height: 100vh;
}
.cart {
  font-size: 20px;
}
.cart #btn_close {
  font-size: 20px;
  font-weight: 500;
  padding: 0px 10px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.cart table tr {
  border-bottom: 2px solid white;
}
.cart table button {
  border-width: 0;
  background-color: transparent;
  color: white;
}
.cart table button:hover {
  color: red;
}
.cart table button:hover i {
  color: red;
}
#td_no_border {
  /* padding: 20px; */
  border: none;
}
#td_no_border td {
  padding: 10px;
}
#td_no_border td button:hover {
  color: white;
}
